@{
  Layout = "_Layout";
}

<h1>Eu Claire Salon</h1>
<h3>Hello Claire!</h3>
<br>
<p>Click the stylists link below to see a list of your stylists</p>
<p>@Html.ActionLink("Stylists", "Index", "Stylists")</p>
<br>
<p>Click the clients link below to see a list of your clients</p>
<p>@Html.ActionLink("Clients", "Index", "Clients")</p>