@{
  Layout = "_Layout";
}

<h1>Eu Claire Salon</h1>
<br>
<h3>Hello,</h3>
<h3>Welcome Claire!</h3>
<br>
<p>Click the Stylists Link Below to See a List of Your Stylists</p>
<p>@Html.ActionLink("Current Stylists", "Index", "Stylists")</p>
<br>
<p>Click the Clients Link Below to See a List of Your Clients</p>
<p>@Html.ActionLink("Current Clients", "Index", "Clients")</p>